@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url('https://fonts.googleapis.com/css2?family=Enriqueta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Enriqueta&family=Source+Code+Pro&display=swap');

h1, h2, h3, body {
   font-family: 'Enriqueta', serif;
   font-weight: normal;
}

.remark-code, .remark-inline-code {
    font-family: 'Source Code Pro', monospace;
}

div.my-header {
    border-bottom: 1px solid #ccc;
    background-color: #47ace9;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    text-align: left;
}

div.slide-footer img {
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 25px;
	position: fixed;
    padding: 5px;
}

div.slide-footer {
    border-top: 1px solid #ccc;
    background-color: #47ace9;
    font-size: 10pt;
	text-align: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 35px;
	width: 100%;
}

div.remark-slide-number {
    font-size: 18px;
    color: white;
    opacity: .9;
    bottom: 8px;
    font-family: 'Droid Serif';
}

.remark-slide-content li {
    margin: 1.5em;
}

/* Allows for multiple columns */
.column:first-of-type {float:left}
.column:last-of-type {float:right}

.column:first-of-type {width: 40%}
.column:last-of-type {width: 60%}

.flex {
    display: flex;
}
.half-flex-container {
    flex: 46%;
    min-width: 46%;
    margin: 0% 2%;
}
.allow-wrap div {
    white-space: normal;
}

.premark-section-title > h1, h2, h3 {
    float: left;
    clear: both;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}
.premark-section-title > h1 {
    font-size: 5rem;
}
.premark-section-title > h2 {
    font-size: 5rem;
}
.premark-prez-title > h1, h2, h3 {
    float: left;
    clear: both;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
.premark-prez-title > h1 {
    font-size: 4rem;
}
.premark-prez-title > p {
    font-size: 2rem;
}
/* Make *all* code have a background, not just highlighted blocks */
code {
    background-color: rgba(130, 130, 130, 0.1);
}
/* Indent "text" as much as regular code */
code.text {
    padding: .5em;
    display: block;
}
